@import url("https://fonts.googleapis.com/css?family=Playfair+Display");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
#header .nav-link {
  color: #dec18c;
  font-family: "Varela Round"; }
  #header .nav-link:hover {
    color: #a6a6a6; }
#header .nav-link1 {
  background: #dec18c;
  color: #fff;
  border-radius: 2px;
  margin-top: 4px;
  -webkit-transition: .5s;
  transition: .5s; }
  #header .nav-link1:hover {
    background: #777;
    cursor: pointer; }
#header .form-control {
  border: 1px solid #dec18c; }
#header .btn {
  border: 1px solid #dec18c;
  color: #a6a6a6;
  font-family: "Varela Round"; }
  #header .btn:hover {
    background: #dec18c;
    color: #fff; }
#header .navbar-nav {
  margin-left: 30%;
  font-size: 20px; }

#slider .box {
  width: 360px;
  background: #fff;
  position: absolute;
  bottom: 29px;
  right: 106px;
  border: 3px solid #dec18c;
  padding: 50px; }
  #slider .box p {
    font-family: "Varela Round";
    font-size: 1.3em; }

#material {
  width: 100%; }
  #material .first {
    width: 100%;
    height: 250px;
    border: 2px solid #eee;
    margin-top: 20px; }
    #material .first p {
      text-align: center;
      font-weight: 400;
      line-height: 1.2;
      margin: 0 0 20px;
      padding: 80px;
      text-transform: capitalize;
      color: #333;
      font-size: 1.4em;
      font-family: "Playfair Display"; }
  #material .second {
    width: 100%;
    height: 250px;
    overflow: hidden;
    margin-top: 20px; }
    #material .second img {
      width: 100%;
      height: 250px;
      -o-object-fit: cover;
         object-fit: cover;
      -webkit-transition: .8s ease;
      transition: .8s ease; }
      #material .second img:hover {
        -webkit-transform: scale(1.2);
                transform: scale(1.2); }
    #material .second .border1 {
      width: 736px;
      height: 240px;
      border: 2px solid #dec18c;
      position: absolute;
      top: 14%;
      left: 4%; }
  #material .newArivals {
    margin-top: 15%; }
    #material .newArivals h1 {
      font-family: "Playfair Display";
      font-weight: 400;
      line-height: 1.2; }
    #material .newArivals .right {
      margin-top: 20px;
      color: #dec18c; }
  #material .line {
    width: 100%;
    height: 2px;
    background: #dec18c; }

#product {
  width: 100%;
  margin-top: 20px; }
  #product .productBox {
    width: 100%;
    padding: 20px;
    overflow: hidden; }
    #product .productBox img {
      width: 100%;
      height: 300px;
      -o-object-fit: cover;
         object-fit: cover;
      -webkit-transition: .8s ease;
      transition: .8s ease; }
      #product .productBox img:hover {
        -webkit-transform: scale(1.2);
                transform: scale(1.2); }
    #product .productBox .text {
      word-wrap: 100%;
      padding: 30px;
      text-align: center;
      color: #333;
      font-size: 15px;
      font-family: "Varela Round";
      -webkit-transition: .8s ease;
      transition: .8s ease; }
      #product .productBox .text:hover {
        color: #dec18c;
        cursor: pointer;
        text-decoration: none !important; }
      #product .productBox .text h6 {
        color: black;
        text-decoration: none; }
    #product .productBox:hover {
      border: 1px solid #dec18c; }

#img {
  width: 100%; }
  #img .img img {
    width: 100%;
    height: 250px;
    -o-object-fit: cover;
       object-fit: cover;
    margin-top: 20px;
    border: 2px solid #dec18c;
    padding: 10px; }
  #img .img .box2 {
    width: 300px;
    background: #fff;
    padding: 10px;
    position: absolute;
    bottom: 10%;
    right: 8%; }
    #img .img .box2 h3 {
      font-family: "Playfair Display";
      line-height: 1.2;
      padding: 10px; }
      #img .img .box2 h3:hover {
        color: #dec18c;
        cursor: pointer; }
    #img .img .box2 p {
      padding: 10px;
      color: #999; }
      #img .img .box2 p:hover {
        color: #dec18c;
        cursor: pointer; }

#line h1 {
  padding: 20px;
  margin-top: 30px;
  font-size: 30px;
  line-height: 1.2;
  font-family: "Playfair Display"; }
#line .line {
  width: 100%;
  height: 2px;
  background: #dec18c;
  margin-top: 20px; }

#trends .boxImg {
  margin-top: 30px;
  border: 1px solid #e6e6e6;
  overflow: hidden; }
  #trends .boxImg h3 {
    position: absolute;
    bottom: 23%;
    left: 15%;
    color: #fff;
    font-size: 20px;
    font-family: "Varela Round";
    -webkit-transition: .8s ease;
    transition: .8s ease; }
    #trends .boxImg h3:hover {
      color: #dec18c;
      cursor: pointer; }
  #trends .boxImg p {
    position: absolute;
    bottom: 15%;
    left: 15%;
    color: #fff;
    font-size: 15px;
    font-family: "Varela Round";
    -webkit-transition: .8s ease;
    transition: .8s ease; }
    #trends .boxImg p:hover {
      color: #dec18c;
      cursor: pointer; }
  #trends .boxImg:hover {
    border: 2px solid #dec18c; }
  #trends .boxImg img {
    width: 100%;
    -webkit-transition: .8s ease;
    transition: .8s ease; }
    #trends .boxImg img:hover {
      -webkit-transform: scale(1.2);
              transform: scale(1.2); }
#trends .sboxImg {
  margin-top: 30px;
  border: 1px solid #e6e6e6;
  overflow: hidden;
  -webkit-transition: .8s ease;
  transition: .8s ease; }
  #trends .sboxImg:hover {
    border: 2px solid #dec18c; }
  #trends .sboxImg img {
    width: 100%;
    height: 300px;
    -webkit-transition: .8s ease;
    transition: .8s ease; }
    #trends .sboxImg img:hover {
      -webkit-transform: scale(1.2);
              transform: scale(1.2); }
  #trends .sboxImg .imgtext {
    width: 100%; }
    #trends .sboxImg .imgtext h6 {
      text-align: center;
      padding: 10px;
      margin-top: 26px;
      font-size: 17px;
      font-family: "Varela Round";
      -webkit-transition: .8s ease;
      transition: .8s ease;
      color: black; }
    #trends .sboxImg .imgtext p {
      text-align: center;
      color: black;
      font-size: 15px;
      font-family: "Varela Round"; }
    #trends .sboxImg .imgtext:hover {
      color: #dec18c;
      cursor: pointer; }

#category {
  width: 100%;
  margin-top: 10%; }
  #category .categoryBox {
    width: 100%;
    margin-bottom: 10px;
    -webkit-transition: .8s ease;
    transition: .8s ease; }
    #category .categoryBox:hover {
      -webkit-box-shadow: 5px 5px  #dec18c;
              box-shadow: 5px 5px  #dec18c; }
    #category .categoryBox img {
      width: 100%;
      height: 100%; }
    #category .categoryBox .name {
      width: 150px;
      background: #dec18c;
      position: absolute;
      top: 40%;
      left: 25%;
      text-align: center;
      padding: 5px;
      color: #fff;
      -webkit-transition: .8s ease;
      transition: .8s ease;
      font-family: "Varela Round"; }
      #category .categoryBox .name:hover {
        background: #595959;
        color: #fff;
        cursor: pointer; }

#blog {
  width: 100%;
  margin-top: 30px; }
  #blog .blogBox {
    width: 100%; }
    #blog .blogBox body {
      background: #f9f9f9;
      font-size: 16px;
      font-family: 'Raleway', sans-serif; }
    #blog .blogBox .main-title {
      color: #2d2d2d;
      text-align: center;
      text-transform: capitalize;
      padding: 0.7em 0; }
    #blog .blogBox .container {
      padding: 1em 0;
      float: left;
      width: 50%; }
    @media screen and (max-width: 640px) {
      #blog .blogBox .container {
        display: block;
        width: 100%; } }
    @media screen and (min-width: 900px) {
      #blog .blogBox .container {
        width: 33.33333%; } }
    #blog .blogBox .content {
      position: relative;
      width: 90%;
      max-width: 400px;
      margin: auto;
      overflow: hidden; }
    #blog .blogBox .content .content-overlay {
      background: rgba(222, 193, 140, 0.55);
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      opacity: 0;
      -webkit-transition: all 0.4s ease-in-out 0s;
      transition: all 0.4s ease-in-out 0s; }
    #blog .blogBox .content:hover .content-overlay {
      opacity: 1; }
    #blog .blogBox .content-image {
      width: 100%;
      height: 200px; }
    #blog .blogBox .content-details {
      position: absolute;
      text-align: center;
      padding-left: 1em;
      padding-right: 1em;
      width: 100%;
      top: 50%;
      left: 50%;
      opacity: 0;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s; }
    #blog .blogBox .content:hover .content-details {
      top: 50%;
      left: 50%;
      opacity: 1; }
    #blog .blogBox .content-details h3 {
      color: #fff;
      font-weight: 500;
      letter-spacing: 0.15em;
      margin-bottom: 0.5em;
      text-transform: uppercase; }
    #blog .blogBox .content-details p {
      color: #fff;
      font-size: 0.8em; }
    #blog .blogBox .fadeIn-bottom {
      top: 80%; }
    #blog .blogBox .fadeIn-top {
      top: 20%; }
    #blog .blogBox .fadeIn-left {
      left: 20%; }
    #blog .blogBox .fadeIn-right {
      left: 80%; }
  #blog .blogText {
    width: 100%;
    padding: 20px; }
    #blog .blogText h5 {
      font-size: 18px;
      font-family: "Playfair Display"; }
    #blog .blogText h6 {
      font-family: "Varela Round";
      font-size: 14px;
      line-height: 1.5;
      color: #dec18c; }
    #blog .blogText p {
      font-family: "Varela Round";
      color: #777; }

#footer {
  width: 100%;
  background: #f2f2f2;
  margin-top: 30px;
  padding: 20px; }
  #footer ul {
    list-style: none; }
  #footer h3 {
    font-size: 25px;
    color: #333;
    font-weight: normal;
    padding: 0;
    letter-spacing: 0.05em;
    margin-bottom: 30px;
    font-family: 'Playfair Display', serif; }
  #footer li {
    color: #999;
    padding-left: 5px;
    text-transform: capitalize;
    font-family: "Varela Round";
    font-size: 14px; }
    #footer li:hover {
      color: #dec18c; }
  #footer p {
    color: #999;
    font-family: "Varela Round"; }

#description {
  width: 100%;
  margin-top: 30px; }
  #description img {
    width: 100%; }
  #description h1 {
    text-align: left;
    font-size: 30px;
    color: #333;
    font-family: "Varela Round",Arial,Helvetica,sans-serif;
    margin: 0 0 15px;
    padding: 0;
    border: none;
    margin-top: 10px; }
  #description h3 {
    color: #dec18c;
    font-size: 35px;
    font-family: "Varela Round",Arial,Helvetica,sans-serif;
    margin-top: 15px; }
  #description p {
    font-family: "Varela Round",Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #777;
    font-weight: 400;
    margin-top: 20px; }
  #description button {
    padding: 8px;
    width: 185px;
    background: #dec18c;
    color: #fff;
    -webkit-transition: .7s;
    transition: .7s; }
    #description button:hover {
      border: 2px solid #dec18c;
      background: #595959;
      cursor: pointer; }
  #description .lines {
    margin-top: 10%; }
    #description .lines .line {
      line-height: 25px;
      padding: 5px 0;
      border-bottom: 1px solid #eee;
      color: #777;
      font-size: 14px;
      font-family: 'Montserrat', sans-serif; }
      #description .lines .line h5 {
        font-size: 13px; }

body {
  font-family: Arial;
  font-size: 17px;
  padding: 8px; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.row {
  display: -ms-flexbox;
  /* IE10 */
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px; }

.col-25 {
  -ms-flex: 25%;
  /* IE10 */
  -webkit-box-flex: 25%;
          flex: 25%; }

.col-50 {
  -ms-flex: 50%;
  /* IE10 */
  -webkit-box-flex: 50%;
          flex: 50%; }
  .col-50 img {
    width: 50%;
    -o-object-fit: cover;
       object-fit: cover; }

.col-75 {
  -ms-flex: 75%;
  /* IE10 */
  -webkit-box-flex: 75%;
          flex: 75%; }

.col-25,
.col-50,
.col-75 {
  padding: 0 16px; }

.container1 {
  margin-top: 40px;
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border-radius: 3px;
  border: 1px solid #dec18c; }

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #dec18c;
  border-radius: 3px; }

label {
  margin-bottom: 10px;
  display: block; }

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px; }

.btn2 {
  background-color: #dec18c;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
  -webkit-transition: .5s;
  transition: .5s; }
  .btn2:hover {
    background: #777; }

a {
  color: #2196F3; }

hr {
  border: 1px solid lightgrey; }

span.price {
  float: right;
  color: grey; }

svg {
  color: #dec18c; }

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }

  .col-25 {
    margin-bottom: 20px; } }
#about .text {
  padding: 25px; }

body {
  font-family: Arial, Helvetica, sans-serif; }

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #dec18c;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical; }

input[type=submit] {
  background-color: #dec18c;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s; }

input[type=submit]:hover {
  background-color: #777; }

.containerCont {
  margin-top: 30px;
  border-radius: 5px;
  border: 1px solid #dec18c;
  padding: 20px; }

#brend .marka {
  width: 100%;
  border: 1px solid #dec18c;
  border-radius: 2px;
  padding: 10px; }
  #brend .marka ul li {
    color: black;
    list-style: none;
    text-decoration: none; }
    #brend .marka ul li:hover {
      color: #dec18c; }

/*# sourceMappingURL=style.css.map */